// Button WhatsApp
.btn-wa{
    background-color: #25D366 !important;
    color: white !important;
}

// Custom pulsating heart
footer {
    .pulse {
        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite;
    }

    ul li i{
        width: 30px;
        text-align: center;
        padding-right: .5rem;
    }

    .title{
        text-transform: uppercase;
        font-weight: bold;
    }

    .col-md-3{
        hr{
            width: 60px;
            height: 1px;
        }
    }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
