// Button WhatsApp
.btn-wa{
    background-color: #25D366 !important;
    color: white !important;
}

// Footer
footer {
    transition: all .5s ease;

    // List item style
    // Footer link icons
    ul {
        padding: 0;
        li {
            background: rgba(255,255,255,.05);
            transition: all .1s ease;
            padding: 1rem !important;
            align-items: center;
            i{
                width: 30px;
                text-align: center;
                padding-right: .5rem;
            }
            &:hover{
                background: rgba(255,255,255,.1);
            }
            .badge{
                box-shadow: none;
            }
        }
    }

    // Custom pulsating heart
    .pulse {
        -webkit-animation: pulse 1s infinite;
        animation: pulse 1s infinite;
    }

    // Footer column headers
    .title{
        text-transform: uppercase;
        font-weight: bold;
    }

    // Column header separator
    .col-md-3, .col-md-4{
        hr{
            width: 60px;
            height: 1px;
        }
    }

    // Dark Mode switch
    .switch-red{
        label input[type=checkbox]:checked + .lever {
            background-color: lighten($agencyRed, 35%);
            &::after{
                background-color: $agencyRed !important;
            }
        }
    }

    // Social tab
    .social{
        padding: 2rem 0 2rem 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }

    // Company img
    svg{
        width: 80%;
    }

    // Dark Mode
    &.agency-dark{
        .social{
            padding: 2rem 0 2rem 0;
            margin: 0;
            background-color: rgba(0, 0, 0, 0.2);
        }
        svg{
            &#logo{
                .st0{
                    fill: #ffffff;
                }
                .st1{
                    fill: #F61A42;
                }
            }
            
        }
    }
    // Light Mode
    &.white{
        .footer-copyright{
            background: rgba(0, 0, 0, 0.1);
            color: #212121 !important;
        }
        ul{
            i{
                color: #212121 !important;
            }
            a{
                color: #212121 !important;
            }
        }
        .btn{
            color: white;
        }
    }
    
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
