#services{
  &::before{
    content: ' ';
    background: linear-gradient(#e6e6e6, white);
    height: 200px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
