*, html, body, footer, header{
	font-family: 'Roboto', 'Gidole', sans-serif;
}

main{
	margin-top: 3rem;
}

// Basic dark mode
.dark-mode{
	background: #3e3e3e;
	color: white;
	.text-muted{
		color: #7f7f7f!important;
	}
	.blue-text{
		color: #58aff5 !important;
	}
}

// IMG Border
.img-border-bottom{
	border-bottom: 1px black solid;
}

// Font
.gidole{
	font-family: 'Gidole', 'Roboto', sans-serif;
}

.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

section{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

// Navigation
.agency-dark{
	background-color: $agencyDark !important;
	&.darken-1{
		background-color: darken($agencyDark, 2%) !important;
	}
	&.darken-2{
		background-color: darken($agencyDark, 5%) !important;
	}
	&.darken-3{
		background-color: darken($agencyDark, 10%) !important;
	}
	&.lighten-1{
		background-color: lighten($agencyDark, 10%) !important;
	}
	&.lighten-2{
		background-color: lighten($agencyDark, 20%) !important;
	}
	&.lighten-3{
		background-color: lighten($agencyDark, 30%) !important;
	}
}
.agency-red{
	background-color: $agencyRed !important;
	&.darken-1{
		background-color: darken($agencyRed, 10%) !important;
	}
	&.darken-2{
		background-color: darken($agencyRed, 20%) !important;
	}
	&.darken-3{
		background-color: darken($agencyRed, 30%) !important;
	}
	&.lighten-1{
		background-color: lighten($agencyRed, 10%) !important;
	}
	&.lighten-2{
		background-color: lighten($agencyRed, 20%) !important;
	}
	&.lighten-3{
		background-color: lighten($agencyRed, 30%) !important;
	}
}
// Custom buttons
.btn-agency-red{
	background-color: $agencyRed !important;
	color: white;
	&:hover{
		background-color: darken($agencyRed, 10%) !important;
		color: white;
	}
	&:focus{
		background-color: darken($agencyRed, 20%) !important;
		color: white;
	}
}
// Convert Material buttons to flat buttons
.btn{
	box-shadow: none;
	&:hover{
		box-shadow: none;
	}
}
.btn-fancy {
	--offset: 10px;
	--border-size: 2px;
	display: block;
	position: relative;
	padding: 1em 2em;
	appearance: none;
	border: 0;
	background: transparent;
	color: $agencyRed;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 0;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
	transition: background .8s ease;
	
	&:hover {
		background: rgba(100, 0, 0, .03);
	}
	
	.button__horizontal, .button__vertical {
		position: absolute;
		top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
		}
	}
	
	.button__horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: var(--border-size) solid currentcolor;
		border-bottom: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - var(--border-size));
			bottom: calc(var(--vertical-offset) - var(--border-size));
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover > .button__horizontal {
		transform: scaleX(0);
	}
	
	.button__vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: var(--border-size) solid currentcolor;
		border-right: var(--border-size) solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - var(--border-size));
			right: calc(var(--horizontal-offset) - var(--border-size));
		}
	}
	
	&:hover > .button__vertical {
		transform: scaleY(0);
	}
	
}

.red-text{
	color: $agencyRed !important;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
