#faq {
  .active-cyan-4 input[type="text"]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    display: block;
    margin: auto;
  }
  .active-cyan-3 input[type="text"] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    display: block;
    margin: auto;
  }
}

// Dark mode
.dark-mode{
  .active-cyan-4 input[type="text"]:focus:not([readonly]) {
    border: 1px solid rgba(255,255,255,.5) !important;
    box-shadow: 0 0 0 1px rgba(255,255,255,.5) !important;
  }
  .active-cyan-3 input[type="text"] {
    border: 1px solid rgba(255,255,255,.5) !important;
    box-shadow: 0 0 0 1px rgba(255,255,255,.5) !important;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
